
# Add the address of the token you have created for the game.(I minted token named SURVIVOR for this game)
NEXT_PUBLIC_SURVIVOR_TOKEN_ADDRESS=""

# Add the decimals used by the token you have created. (For SURVIVOR token its 18)
NEXT_PUBLIC_SURVIVOR_DECIMALS=""

# Add the private key of the wallet which has all the minted token
ADMIN_PRIVATE_KEY=""